.Header-image{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    height: 640px;
    width:100%;
   
   background-repeat: no-repeat; 
   background-size: cover;
  
   
}
.nav{
    margin-top: 20px;
}
body{
    margin: 0;
    overflow-x: hidden;
}

.head{
    height:4rem;
    width:25%;
    margin: auto;
}
.logo{
    height: 100%;
   
    padding: -1.5px 6px 19px 21px;
    object-fit: contain;
    text-align:center;
    margin-left: 34px;
    
}
.content-write{
    /* height:0%; */
   /* position: absolute; */
   /* bottom: 55%; */
   margin-top: 180px;
   width: 100%;
   color: white;
   

}
.content{
    
    font-weight: lighter;
    text-align:center;
    font-family:Okra, Helvetica, sans-serif;
    width:511px;
    margin: auto;

}
.con-1{
    line-height:0.5;
    font-weight: 400;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}
    
    
.nav-bar{
    color: white;
    font-family:8e7505f4e7be967217d81781b49425bc1597997165;
    font-size: large;
    width: 100%;
    display: flex;
    list-style: none;
    max-width: 100%;
    margin-left: 832px;
    margin-top: -117px;
    padding-top: 115px;
    gap: 41px;
    cursor: pointer;
}
.content1{
    display: block;
    font-size: 37px;
    /* margin-block-start: 34.5px;
    /* margin-block-end: 16.67em; */
    /* margin-inline-start: 92px;
    margin-inline-end: -26.5px; */ 
    font-weight: lighter;

}
.cont1{
    /* width:30%; */
    
    font-size: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 2.6rem;
    line-height: 2.2;
    font-weight: 300;
    color: rgb(28, 28, 28);
    

}
.heading{
   
    height:fit-content;
    text-align: center;
}
.flag-title{
    padding-top: 10px;
}
.description{
    color: rgb(150, 147, 147);
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 22px;
    margin: auto;
    margin-top: -34px;
    line-height: 161%;
    max-width: 55rem;

}
.description p{
    max-width: 90rem;
}

.name1{
    display: flex;
    align-items: center;
    gap: 10px;

}
/* .agraname{
    height: 20px;
    font-size: ;
} */
.second-part{
    height: initial;
   
    
}
.second-part-container{
    width: 1100px;
    margin: auto;
}
.eachstate{
    margin-bottom: 28px;
    width: 334px;
    display: flex;
    white-space: nowrap;
    padding-left: 22px;
    height: 68px;
    /* gap: 165px; */
    justify-content: space-between;
    font-size: larger;
    color: rgb(28, 28, 28);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2.85246px;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 232, 232);
    cursor: pointer;
}


.right-arrow{
    width: 15px;
    height: 16px;
    margin-top: 20px;
}
    

.state-container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 61px;
    gap:13px;
}
.all-coun{
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
}
.coun-logo{
    width: 48px;
    height:32px;
    
}
.country{
    display: flex;
    align-items: center;
    gap: 10px;
}
.country-list{
    display:flex;
    flex-wrap: wrap;
    gap:13px;
}
.footer{
    background: rgb(248, 248, 248); 
    height: 450px;
    display:flex;
}
.footer-content{
    height:440px;
    width:1100px;
    margin: auto;
}
.log{
    width: 130px;
    height: 29px;

}
.foot-top{
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
   
}
.country-label{
    height: 31px;
    width: fit-content;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 0.6rem;
    display:flex;
    cursor: pointer;
    gap:3px;
    /* align-items: center; */
}
.down-arrow{
    width: 18px;
    height:19px;
    margin-top: 3px;
}
.indiaflg{
    width: 23px;
    height: 23px;
    margin-left: 9px;


}
.india-icon{
    font-size: 20px;
}
.top-last{
    display: flex;
    gap: 17px;
}
.earth{
    width: 19px;
    height:20px;
    margin-top: 2px;
    margin-left: 9px;
}
.india-icon{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger ;
}
.heads{
    font-size: 1.0rem;
letter-spacing: 0.2rem;
text-transform: uppercase;
font-weight: 400;
margin: 0px 0px 1.2rem;
}
.big-box{
    display: flex;
    margin-top: 30px;
    gap: 83px;
}
.word1{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16.4px;
    line-height: 19px;
    color: rgb(120, 119, 119);
    margin: 0.5rem 0px
}
.media{
    display: flex;
    gap:10px;
    cursor: pointer;
    
}
.micon{
    width: 21px;
    height: 22px;

}
.applink{
    width: 145px;
    height: 38px;
    cursor: pointer;

}
.box1{
    cursor: pointer;
}